
<div class="mt20 ml20">
    <h1>{{quiz.title}} Quiz Questions</h1>
</div>    

<div class="row">
    <div class="col-md-12">

        <!--image field -->
        <div class="container text-center mt20">
            <img [src]="quiz.imagefile" height="100px">
        </div>
        <br>

        <mat-card *ngFor="let q of questions; let i = index" class="mt20">

            <mat-card-content>

                <p>
                   <b> Q.{{i+1}})</b> <span class="ml10" [innerHTML]="q.content"></span>
                </p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>A.</b> {{q.option1}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>B.</b> {{q.option2}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>C.</b> {{q.option3}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>D.</b> {{q.option4}}</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="mt10">
                        <b>Correct Answer:</b> {{q.answer}}
                    </div>
                </div>

            </mat-card-content>
            
            <mat-card-actions>
                <button [routerLink]="'/dashboard/updatequestion/' + q.quesid"  mat-flat-button color="primary">Update</button>
                <button (click)="deleteQuestion(q.quesid)"  class="ml20" mat-flat-button color="accent">Delete</button>
            </mat-card-actions>

        </mat-card>

        <div class="container text-center mt20">
            <button [routerLink]="'/dashboard/addquestion/'+quiz.quizid" mat-raised-button color="primary">Add Questions</button>
        </div>
        

    </div>
</div>