.cov{
    object-fit: cover;
      width: 100%;
      height: auto;
      position: relative;
      text-align: center;
      
    }

      .top-left {
        position: absolute;
        top: 14%;
        left: 42%;
      }